@import "mixins";

/* ---------- Column widths ---------- */

.portlet-column-content.empty {
	padding: 50px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	padding-top: 2em;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

	@include respond-to(phone) {
		padding: 0 0.5em 0;
	}

	@include respond-to(tablet) {
		padding: 0 2em 0;
	}
}

#footer {
	display: block;
	width: 90%;
	margin: auto;
} 