@import "mixins";

/* ---------- Column widths ---------- */

.portlet-column-content.empty {
	padding: 50px;
}

/* ---------- Wrapper ---------- */

#wrapper {
	padding: 2em 5em 0;
	position: relative;

	@include respond-to(phone) {
		padding: 0 0.5em 0;
	}

	@include respond-to(tablet) {
		padding: 0 2em 0;
	}
}