#pageContent {
    position: relative;
    top: -15px;
}

#pageContent.withDock {
    top: -40px;
}

.dockbar{
	margin-left: auto;
    margin-right: auto;
}

.dockbar.navbar .navbar-inner {
    padding-left: 110px;
}

@media (min-width: 1200px) {
	
	#pageContent {
	    top: -25px;
	}
	
	#pageContent.withDock{
	    top: -50px;
	}
	
	.dockbar.navbar .navbar-inner {
    	padding-left: 220px;
	}
}