.dockbar{
	margin-left: auto;
    margin-right: auto;
}

#pageContent {
    position: relative;
    top: -35px;
    
    @include respond-to(phone) {
		top: -5px;
	}

	@include respond-to(tablet) {
		top: -25px;
	}
}

#pageContent.withDock {
    top: -40px;
    
    @include respond-to(phone) {
		top: -5px;
	}

	@include respond-to(tablet) {
		top: -40px;
	}
}