html.trueNTH.aui, .trueNTH.aui body {
    margin: 0;
    height: 100%;
    min-height: 100%; 
    background-color:#9aa19a;
}

.trueNTH.aui {	
	@import "trueNTH/header";
	@import "trueNTH/navigation";
	@import "trueNTH/content";
}