#navigation{
	
	.navbar-inner {
		color: #fff;
	    background: #83885f none repeat scroll 0 0;
	    text-decoration: none;
	    border-radius: 4px;
	    border-width: 0;
	    min-height: 36px;
	}
	
 	.nav > .active > a {
  		color: #fff;
  		background-color: #2a4531;
  		border-color: #1c2f21;
	    box-shadow: none;
	}

}